<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797472053396-ti8bgm45kec0gmrks1q86jd9qmp3dt4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797472053396-ti8bgm45kec0gmrks1q86jd9qmp3dt4r</string>
	<key>API_KEY</key>
	<string>AIzaSyB6W9i5M6t9X7xyTz5wF1UIzDHnQFhksl4</string>
	<key>GCM_SENDER_ID</key>
	<string>797472053396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookGlance</string>
	<key>PROJECT_ID</key>
	<string>bookglance-a73c9</string>
	<key>STORAGE_BUCKET</key>
	<string>bookglance-a73c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797472053396:ios:d5b0f29d3a6bd15a25bc81</string>
</dict>
</plist>